html {
    background: url("./images/sound-mixer-studio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
  }

body {
  height: 100%;
  display: flex;
  align-items: center;
}

pre {
  height: 95%;
  overflow: scroll;
}

h1 {
  font-size: 48px;
  margin: 5px 0;
}

h4 {
  font-size: 30px;
  margin: 30px 0;
  padding: 0;
  font-weight: 400;
  opacity: 0.66;
}

.inner-container {
  height: 75%;
  width: 90%;
  margin: auto;
  display: flex;
}

.video-container {
  width: 50%;
}

.inner-video {
  box-shadow: 10px 1px 50px rgba(255, 255, 255, 0.35);
  height: 450px;
  margin-top: 10px;
  width: 85%;
}

.lyrics-container {
  height: 100%;
  background: rgba(0, 0, 0, .5);
  width: 40%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 30px;
  line-height: 35px;
  font-size: 24px;
}





